<div class="container">
   <div class="row">
     <div class="col-sm-12">
        <div class="posts">
             <h1>Posts</h1>
             <div  class="text-right">
                 <%= link_to "Publicar Post", new_post_path, class: "btn btn-primary" %>
             </div>
             <% @posts.each do |post| %>
             <div class="post clearfix"> 
                 <div class="post-details"> 
                    <tr>
                       <span class="post-title"> <%= link_to  post.titulo, post %></span>
                       <p><%= post.updated_at.strftime("%Y-%m-%d") %></p> 
                       <span class="post-description"><%= post.cuerpo %></span> 
                       <div class="actions">       
                            <td>
                              <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_post_path(post) %> 
                            <td><%= link_to "Editar", edit_post_path(post) %></td>

                            </td>
                            <td>
                              <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este post?" } %>
                              <%= link_to "Eliminar", post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %>
                            </td>
                        </div>
                     </tr>
                  </div>
            </div>
            <% end %>
      </div>
    </div>
  </div>
</div>